*{
    margin: 0;
    padding: 0;

}
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 6rem;
    gap: 1rem;
}

#div1 input{
    font-size: 1rem;
    padding: 5px;
    outline: none;
}
#div1 button{
    font-size: 1rem;
    padding: 6px;
    background-color: blue;
    border: none;
    border-radius: 2px;
    color: white;
}
#urlList li button{
    font-size: 1rem;
    padding: 6px;
    background-color: blue;
    /* outline: none; */
    border: none;
    border-radius: 2px;
    color: white;
}

#urlList li{
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
    margin-top: 1rem;
}
