*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#emoji{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    width: 40%;
    height: 475px;
}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -5rem;
}
#buttons button{
    padding: 10px 32px 10px 32px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
}

#emoj{
 font-size: 5rem;
}
#inpemoji{
    font-size: 2rem;
    font-family: 700;
    position: relative;
    top: -5rem;
    padding: 5px 10px;
    border-radius: 10px
}
#emo{
    position: relative;
    top: 6rem;
}
